<!DOCTYPE html>
{% load static %}
<html data-ts-native>
<head>
	<title>貨運查詢</title>
	<!-- link rel="stylesheet" href="tocas.min.css"-->
	<link rel="stylesheet" href="https://cdn.rawgit.com/TeaMeow/TocasUI/master/dist/tocas.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<style type="text/css">
		.grayscale {
         background: url({% static 'airport-05.jpg' %});
     }
	</style>
	<script type="text/javascript">
		function getStatus() {
			var deliveryId = document.getElementById('deliveryId').value;
			alert(deliveryId)
		}
	</script>
</head>
<body class="container grayscale">
	<div class="ts heading slate">
    	<span class="header">貨運查詢</span>
    	<span class="description">清關否?</span>
	</div>
	<div class="ts centered narrow container" style="padding-top: 30px;padding-bottom: 20px;">
		<div class="ts action fluid input">
		    <input type="text" id="deliveryId" placeholder="輸入單號">
		    <button class="ts button" onclick="getStatus()">查詢</button>
		</div>
		
		
	<!-- </div>
	<div class="ts raised card narrow container" style="padding: 30px;">
		    <div class="content">
		        <h1 class="ts header">東風貨運</h1>
		        <div class="description">
		            <p>單號 : 900032521962</p>
		        </div>
		    </div>
		    <table class="ts celled structured table">
		        <thead>
		            <tr>
		                <th>資料日期</th>
		                <th>到件日期</th>
		                <th>收件人</th>
		                <th>代收款</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr>
		                <td>2016/12/26</td>
		                <td>2016/12/27</td>
		                <td>林＊龍</td>
		                <td>0</td>
		            </tr>
		        </tbody>
		    </table>
		    <table class="ts celled selectable table">
		        <thead>
		            <tr>
		                <th>#</th>
		                <th>日期</th>
		                <th>時間</th>
		                <th>貨況</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr class="positive">
		                <td>1</td>
		                <td>2016/12/28</td>
		                <td>16:07:20</td>
		                <td>配完</td>
		            </tr>
		            <tr>
		                <td>2</td>
		                <td>2016/12/28</td>
		                <td>05:23:12</td>
		                <td>配送中</td>
		            </tr>
		            <tr>
		                <td>3</td>
		                <td>2016/12/27</td>
		                <td>10:28:32</td>
		                <td>轉運中</td>
		            </tr>
		            <tr>
		                <td>4</td>
		                <td>2016/12/27</td>
		                <td>10:28:25</td>
		                <td>交接派件</td>
		            </tr>
		            <tr>
		                <td>5</td>
		                <td>2016/12/27</td>
		                <td>10:26:47</td>
		                <td>貨物到達桃園分撥中心</td>
		            </tr>
		            <tr>
		                <td>6</td>
		                <td>2016/12/27</td>
		                <td>07:25:14</td>
		                <td>貨物前往桃園分撥中心</td>
		            </tr>
		            <tr>
		                <td>7</td>
		                <td>2016/12/27</td>
		                <td>07:23:03</td>
		                <td>貨物通關中</td>
		            </tr>
		        </tbody>
		    </table>
	</div>
	<div class="ts raised card narrow container" style="padding: 30px;">
		    <div class="content">
		        <h1 class="ts header">黑貓宅急便</h1>
		        <div class="description">
		            <p>單號 : 900032521962</p>
		        </div>
		    </div>
		    <table class="ts celled selectable table">
		        <thead>
		            <tr>
		                <th>#</th>
		                <th>目前狀態</th>
		                <th>資料登入時間</th>
		                <th>負責營業所</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr class="positive">
		                <td>1</td>
		                <td>順利送達</td>
		                <td>2016/12/28 16:07</td>
		                <td>湖口營業所</td>
		            </tr>
		            <tr>
		                <td>2</td>
		                <td>配送中</td>
		                <td>2016/12/28 05:23</td>
		                <td>湖口營業所</td>
		            </tr>
		            <tr>
		                <td>3</td>
		                <td>已集貨</td>
		                <td>2016/12/27 10:28</td>
		                <td>北一部特販營業區</td>
		            </tr>
		        </tbody>
		    </table>
	</div>
 -->
</body>
</html>