<!DOCTYPE html>
<html data-ts-native>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>貨運查詢</title>
	<!-- link rel="stylesheet" href="tocas.min.css"-->
	<link rel="stylesheet" href="https://cdn.rawgit.com/TeaMeow/TocasUI/master/dist/tocas.min.css">
	<link rel="stylesheet" href="$url_for('static', filename='main.css')$">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="https://unpkg.com/axios/dist/axios.js"></script>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body class="grayscale">
	<div class="ts heading slate">
		<span class="header">貨運查詢</span>
		<span class="description">全台最大線上查貨平台上線啦!</span>
	</div>
	<div class="ts centered narrow container">
		<div class="ts centered" style="padding-top: 30px;padding-bottom: 20px;">
			<div class="ts action fluid input" id="input">
				<input type="text" v-model="deliveryId" placeholder="輸入單號">
				<button class="ts button" v-on:click="getData">查詢</button>
			</div>
		</div>
		<div class="ts primary segment">
			<p>目前支援東風貨運、黑貓宅急便。</p>
		</div>
		<div class="ts raised card myPadding" id="DongPoo" v-bind:style="{ visibility : visibility }">
			<!-- 考慮用 v-show="show" -->
			<div class="content">
				<h1 class="ts header">東風貨運</h1>
				<div class="description">
					<p>單號 : {{ deliveryId }}</p>
				</div>
			</div>
			<message v-if="!displayTable" :message="message"></message>
			<template v-if="displayTable">
				<table class="ts celled structured table">
					<thead>
						<tr>
							<th>資料日期</th>
							<th>到件日期</th>
							<th>收件人</th>
							<th>代收款</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ bookingDate }}</td>
							<td>{{ handleDate }}</td>
							<td>{{ consigneeName }}</td>
							<td>{{ realCcPrice }}</td>
						</tr>
					</tbody>
				</table>
				<table class="ts celled selectable table">
					<thead>
						<tr>
							<th>#</th>
							<th>日期</th>
							<th>時間</th>
							<th>貨況</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="row in rows" v-if="row.remark == '配完'" class="positive">
							<td>{{ row.rowNum }}</td>
							<td>{{ row.handleDate }}</td>
							<td>{{ row.handleTime }}</td>
							<td>{{ row.remark }}</td>
						</tr>
						<tr v-for="row in rows" v-if="row.remark != '配完'">
							<td>{{ row.rowNum }}</td>
							<td>{{ row.handleDate }}</td>
							<td>{{ row.handleTime }}</td>
							<td>{{ row.remark }}</td>
						</tr>
					</tbody>
				</table>
			</template>
			<div class="ts dimmer" v-bind:class="{ active : loding , disable : !loding}">
				<div class="ts text massive loader">讀取中</div>
			</div>
		</div>
		<div class="ts raised card myPadding" id="BlackCat" v-bind:style="{ visibility : visibility }">
			<div class="content">
				<h1 class="ts header">黑貓宅急便</h1>
				<div class="description">
					<p>單號 : {{ deliveryId }}</p>
				</div>
			</div>
			<message v-if="!displayTable" :message="message"></message>
			<template v-if="displayTable">
				<table class="ts celled selectable table">
					<thead>
						<tr>
							<th>#</th>
							<th>目前狀態</th>
							<th>資料登入時間</th>
							<th>負責營業所</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="row in rows" v-if="row.status == '順利送達'" class="positive">
							<td>{{ row.rowNum }}</td>
							<td>{{ row.status }}</td>
							<td>{{ row.time }}</td>
							<td>{{ row.location }}</td>
						</tr>
						<tr v-for="row in rows" v-if="row.status != '順利送達'">
							<td>{{ row.rowNum }}</td>
							<td>{{ row.status }}</td>
							<td>{{ row.time }}</td>
							<td>{{ row.location }}</td>
						</tr>
					</tbody>
				</table>
			</template>
			<div class="ts dimmer" v-bind:class="{ active : loding , disable : !loding}">
				<div class="ts text massive loader">讀取中</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src=$url_for( 'static', filename='main.js' )$></script>
</body>
</html>